body {
    font-family: Arial;
    background: #f4f6f8;
    margin: 0;
}

header {
    background: #0a2540;
    color: white;
    padding: 40px;
    text-align: center;
}

section {
    padding: 30px;
    max-width: 800px;
    margin: auto;
}

button {
    padding: 10px 20px;
    background: #0a2540;
    color: white;
    border: none;
    cursor: pointer;
}

#checkBox {
    margin-top: 20px;
    background: white;
    padding: 15px;
}
